# National rail - Static data
ACCESS_TOKEN=""
SERVICE_DETAILS_TOKEN=""
REFERENCE_DATA_KEY=""
FASTEST_KEY=""

# Map
PUBLIC_MAP_ENABLED=false
SUPABASE_URL=""
SUPABASE_ANON_KEY=""
PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Notifications
PUBLIC_NOTIFICATIONS_ENABLED=false
PUBLIC_VAPID_KEY=""
DARWIN_BROKER_URL=""
DARWIN_USERNAME=""
DARWIN_PASSWORD=""
